
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

*{
    padding: 0;
    scroll-behavior: smooth;
    
     
}
.container{

    height: 1000px;
    border-radius: 10px;
    max-width: 480px;
    width: 460px;
    transform: translate(96%);
    overflow: hidden;
    top: 28%;
    position: absolute;
    
}
ul li{
    float: left;
   
  
    list-style: none;
}
.logo{
    position: absolute;
    right: -1%;
    top: -2%;
    cursor: pointer;
   
}
.icon{
    position: absolute;
    top: 1%;
    left: 5%;
    cursor: pointer;
}
.calculated-data-analysis{
    position: absolute;
    text-align: center;
    align-items: center;
    translate: 8%;
    margin-top: 1rem;
    margin: 1rem;
}
.available-bal{
    position: absolute;
    text-align: center;
    translate: 24%;
    /* padding is here */
    margin-top: 30rem;
    padding: 0 -20rem;
    width: 70%;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
   
}
form input{
    padding: 12px;
    width: 100%;
    margin-top: 4rem;
    border-radius: 10px;
}
form input::placeholder{
    text-align: center;
    position: absolute;
    padding: 0 5.5rem;
    
}
button{
    margin-top: 4rem;
    width: 80%;
    padding: 10px;
    background: rgb(71, 71, 192);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background: gray;
}
button:focus{
    background: rgb(167, 53, 53);
}
.gbs{
    color: red;
}
.table table{
    width: 100%;
    background-color: gainsboro;
    padding: 0 rem;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 70%;
    transition: .8s;
}
.table table tr{
    padding: 20px 30px;
}
.table table tr td{
    padding: 30px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bal{
    color: red;
    font-family: 'Rubik Glitch', cursive;
}
.terms{
    margin-top: 1.5rem;
}
.data{
    color: blue;
}
.analysis{
    margin-top: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Withdraw{
    position: absolute;
    padding: 0 10px;
    margin-top: 1rem !important;
}
.Withdraw-option{
    height: 20px;
    font-size: 15px;
    position: relative;
}
body{
    background: whitesmoke;
}
img{
    width: 100%;
}
#loader img{
    width: 400px;
   
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    position: relative;
    width: 100px;
    top: -2%;
}
.icon i{
    font-size: 38px;
}
.data-graph{
    width: 379px;
    height: 300px;
 
    border-radius: 10px;
    color: black;
    margin-bottom: 1rem;
}
.side-bar{
    position: fixed;
    width: 300px;
    top: -1%;
    color: white;
    height: 1200px;
    background: gray;
    translate: -10%;
    z-index: 10;
  
    display: none;
}
.side-bar-list{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1 0rem;
    margin: 2rem;
    
}
.side-bar-list ul{
    color: black;
    position: absolute;
   
    left: 10%;
    font-size: 20px;
}
.side-bar-list ul li{
    padding: 2rem 0;
    color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: .3s;
    cursor: pointer;
}
.side-bar-list ul li a{
    text-decoration: none;
    color: white;
}
.side-bar-list ul li:hover{
    color: orange;
}
.side-bar-list ul li i{
    font-size: 32px;
    padding: 0 10px;
}
#close-window{
    position: absolute;
    right: 8%;
    color: #fff;
    cursor: pointer;
    font-size: 28px;
}
.sign-in{
    background-color: gainsboro;
    padding: 20px 5px;
    border-radius: 20px;
    position: relative;
}
.sign-in form{
    width: 72%;
    translate: 20%;
}
.sign-in form input{
    padding: .3rem 1rem;
    border-radius: 10px;
}
.sign-in form input::placeholder{
    padding: 0 10px;
    font-size: 15px;
    color: blue;
}
.second-page{
    display: none;
}
tr td i{
    position: absolute;
    font-size: 45px;
    top: 48%;
    cursor: pointer;
}
.instructions{
    position: absolute;
    top: 74%;
    padding: .5rem .5rem;
    cursor: pointer;
    font-size: 14px;
    translate: 5%;
}
.instructions:hover{
    color: red;
}

.instructions #account:hover{
    color: blue;
}
.withdraw span{
    position: absolute;
    padding: 2rem !important;
    margin: 1rem;

}
.withdraw span:hover{
    color: red;
    cursor: pointer;
}
#register{
    display: none;
    padding: 0;
}

#register input{
    margin: 2px;
    padding: 5px;
    translate: 2%;
}
#register input::placeholder{
    font-size: 16px;
}
#sign-in-btn:hover{
    color: blue;
}
#register .instructions{
    translate: 25%;
    top: 60%;
}
#register button{
    translate: 2%;
}
.sign-up-btn{
    translate: 16%;
}
#message{
    display: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
input{
    outline: none;

    border-color: 1px solid black ;
}
.confirmation-error,.username-error,.phone-no-error,.first-name-error,.second-name-error,.Phone-number-error,.password-error{
    font-size: 12px;
    color: red;
}
#confirm-passWord{
    outline: none;
}
.user-logged-in{
    font-weight: 800;
}
canvas {
    width: 100%;
    height: auto;
}
.graph-types{
    display: none;
}
.hide-list{
    display: none;
}
.back-navigation-arrow{
    color: white;
    font-size: 28px;
    position: absolute;
    left: 5%;
    display: none;
    cursor: pointer;
    transition: .5s;
}
#network-table{
    display: none;
    overflow: scroll;
    overflow-x: scroll;
    width: 100%;
    object-fit: cover;
    scroll-behavior: smooth;
    padding: 0;

}
.table-header{
    display: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
  
h1 {
    text-align: center;
    font-size: 24px;
    color: #008080;
}
.send-money .cont{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

iframe{
    overflow: auto;
}
.cont{
    position: relative;
}
#close-sendmoney{
    font-size: 30px;
    left: 10%;
    cursor: pointer;
}



.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    transition: 1s;
}

.loading-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: rgb(131, 57, 57);
    display: none;
    transition: .8s;
}

.rotate {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#number-counter {
    font-weight: bold;
    text-align: center;
    animation: count-up 2s forwards;
}
  
@keyframes count-up {
    from {
      content: "0";
    }
    to {
      content: attr(data-count);
    }
}

#available-bal-counter {
    font-weight: bold;
    text-align: center;
    animation: count-up 2s forwards;
}
  
@keyframes count-up {
    from {
      content: "0";
    }
    to {
      content: attr(bal-count);
    }
}
#virtual-bal-counter {
    font-weight: bold;
    text-align: center;
    animation: count-up 2s forwards;
}
  
@keyframes count-up {
    from {
      content: "0";
    }
    to {
      content: attr(virtual-count);
    }
}